<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <center>
    <h1> <%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Perform CRUD operations for students</p>
    <% if (Students.length) { %>
    <ul>
        <% Students.forEach(function(item,index){ %>
            <li> <%= item.id %> , <%= item.name %>
                <form action="/student-upload?id=<%= item.id %>"
                method="POST"
                enctype="multipart/form-data"><a href="student/image"><input
                    type="file"
                    name="file"
                    id="input-files"
                    class="form-control-file border"
                  /><button type="submit">upload</button></a></form>  </li>
        <% }) %>
    </ul>
    <% } %>

    <% if(successMsg !== '') { %>
        <h1 style="color: green; font-family: Arial, Helvetica, sans-serif;">Thank You, <%= successMsg %></h1>
      <% } %>

      <% if(errorMsg != '') { %>
        <h1 style="color: red; font-family: Arial, Helvetica, sans-serif;">Oops, <%= errorMsg %></h1>
      <% } %>

</center>
  </body>
</html>